<div class="container">
    <h1>About Me</h1>
    <hr>
    <br>
    <section class="container ">
        <div class="row">
            <div class="col-lg-6">
                <img class="custom__image float-end" src="Assets/images/AuthorPhoto.jpeg" alt="Author"/>
            </div>
            <div class="col-lg-6 about-page">
                <h4>Hello,<br><br> my name is Roman Lysenko, I am an international student from Ukraine, currently learning User Interface Design in the IMDW program from Georgian College.<br>
                <br> I'm in my second year at the moment of making this project, which is the last year of my program.<br><br> I hope that by doing this project I am able to improve my knowledge and understanding of JavaScript.<br><br> I am still young and do not have a lot of experience when it comes to projects but I have collaborated on some in the past</h4>
                <div class="text-center">
                    <a class="btn btn-outline-secondary px-5 py-3 mt-5" href="https://docs.google.com/document/d/1eaMObfzeVBgBj0AHBJG1EytnOpFDzzFwKLAOjlGm94I/edit?usp=sharing"> Resume </a>
                </div>
            </div>
        </div>
        <div class="row rowButton justify-content-center m-5">
        <button id="projectsButton" class="btn btn-success fs-3">My Projects</button>
        </div>
    </section>
</div>