<h1 class="mb-5">Welcome to Our Site!</h1>
<hr>
<div class="container-fluid text-center">
<div class="homediv row align-items-center">
    <div class="col-md-6">
        <img src="Assets/images/RL.png" alt="logo" id="homelogo" >
    </div>
    <div class="col-md-6">
        <button class="btn custom_Button fs-3">Projects</button>
    </div>
    <div class="col-md-6">
        <button class="btn custom_Button fs-3">Services</button>
    </div>
    <div class="col-md-6">
        <button class="btn custom_Button fs-3">Contact</button>
    </div>
</div>