<div class="container-fluid">
    <h1>My Projects</h1>
    <hr></hr>
    <br></br>
    <div class="row custom__row">
        <div class="col-xl-4">
            <section class="project1">
                <img class="custom__image img " src="Assets/images/minco.png" alt="Project screenshot"/>
                <p id="first-p" class="fs-3">This project is a collaboration on a custom website for my friend, it is a clothing brand for custom clothing</p>
            </section>
        </div>
        <div class="col-xl-4">
            <section class="project2">
                <img class="custom__image img " src=Assets/images/club66.png alt="Project screenshot"/>
                <p id="second-p" class="fs-3">This project is from my work term, it is a post for a fresh website that are about to launch</p>
            </section>
        </div>
        <div class="col-xl-4">
            <section class="project3">
                <img class="custom__image img " src=Assets/images/superebikes.png alt="Project screenshot"/>
                <p id="third-p" class="fs-3">This project is a collaboration on a custom website for my coworker, it is a website for an e-bikes company.</p>
            </section>
        </div>
    </div>
    <div class="row rowButton justify-content-center m-5">
        <button id="servicesButton" class="btn btn-success fs-3">My Services</button>
    </div>
</div>