<div class="container">
    <h1>My Services</h1>
    <hr></hr>
    <br></br>
    <h2>My services include: </h2>
    <ul>
        <li>
            <p>Web-development</p>
        </li>
        <li>
            <p>UI/UX Design</p>
        </li>
        <li>
            <p>Web-programing</p>
        </li>
        <li>
            <p>Website maintanace</p>
        </li>
        <li>
            <p>SEO specialist</p>
        </li>
        <li>
            <p>Project Manager</p>
        </li>
    </ul>
    <div class="row rowButton justify-content-center m-5">
        <button id="contactButton" class="btn btn-success fs-3">Contact Me</button>
    </div>
</div>